html,
button,
input,
select,
textarea {
  color: $accent-black;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

html,
body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Lato' ,sans-serif;
  line-height: 25px;
  overflow-x: hidden;
  color: $accent-black;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Raleway', sans-serif;
  line-height: 1.1;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
   Foundation Overrides
   ========================================================================== */

.button{
  border-radius: $border-radius;
  background-color: $accent-blue;

  &.button-custom{
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
  }
}

