/* ==========================================================================
   Main styles
   ========================================================================== */

.hero-section{
  color: $accent-white;
  height: 100%;
  width: 100%;
  display: table;
  background: linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)), url(/img/vo32bd8.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}

.h-avatar{
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.h-content{
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
}

.h-intro{
  font-size: 68px;
}

.h-profession{
  font-size: 66px;
  font-weight: 400;
}

.h-tagline{
  font-size: 20px;
}

/*.site-wrapper{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  transform: translate(-50%, -50%);
}

.site-wrapper div{
  display: inline-block;
}

.avtaar{
  padding-top: 10px;
  width: 200px;
  padding-left: 4%;
}

.avtaar img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.blurb{

  float: right !important;
  width: 65%;
  padding-right: 50px
}

.blurb article{

  font-weight: 300;
  line-height: 1.6;
}*/


/* ==========================================================================
   Media Queries
   ========================================================================== */

/*@media only screen and (max-width: 900px) {

  html{
    padding: 50px 20px;
  }

  .site-wrapper{
    width: 100%;
    position: static;
    top: auto;
    left: auto;
    transform: none;
  }

  .site-wrapper div{
    display: block;
  }
  
  .avtaar{
    width: 100%;
    padding: 0;
  }

  .avtaar img{
    display: block;
    margin: 0 auto;
  }

  .blurb{
    float: none;
    width: 100%;
    padding-right: 0;
    text-align: center;
  }


}
*/

@media print,
     (-o-min-device-pixel-ratio: 5/4),
     (-webkit-min-device-pixel-ratio: 1.25),
     (min-resolution: 120dpi) {

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.no-margin{
  margin: 0;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}